requests==2.32.3
tox
pytest
python-dotenv
flit
black
urllib3==2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp==3.19.2 # not directly required, pinned by Snyk to avoid a vulnerability
